#directions, #ingredients {
    font-size: 18px;
}

#rockyroad {
    color: sienna;
}

#ingredients {
    font-family: Arial, Helvetica, sans-serif;
}

#directions {
    font-family: 'Times New Roman', Times, serif;
}